/*

This file will be deleted from browser
immediatelly after page is loaded.

So, here should be stored only code
related with inital theme and background
color.

All ther stylesheets should be stored in
other .css files.

*/


/* Hide the default Dash loading message */
._dash-loading {
    display: none !important;
}


/* Initial color of page on refresh */
body {
    background-color: #242424;
    color: white;
}
