/* Hide the default Dash loading message */
._dash-loading {
    display: none !important;
}

/* Purpose of --universal-color Mantine
CSS variable is to have unique color of 
element regardless of background theme 
that is chosen by user.
*/
html[data-mantine-color-scheme='light'] {
  --universal-color: #000;
}

html[data-mantine-color-scheme='dark'] {
  --universal-color: #000;
}
